html(lang="en")
    include ./head.pug
    +head("Simple Editor")
    body 
        include ./header.pug
        include ./sidebar.pug
        include ./editor.pug
        include ./modal.pug
        script(src="assets/js/app.js")