.sidebar
    .flex-wrapper 
        button(class='btn openBtn' name="open") Open file
        .tools
            button(class='btn tool' name="bold")
                include ../public/assets/icons/bold.svg
            button(class='btn tool' name="italic")
                include ../public/assets/icons/italic.svg
            button(class='btn tool' name="insertunorderedlist")
                include ../public/assets/icons/dots.svg
    .flex-wrapper.flex-end
        button(class='btn btn--secondary save' name="save") Save