sidebar(class='sidebar')
    .flex-wrapper 
        button(class='btn open') Open file
        .tools
            button(class='btn icon')
                include ../public/assets/icons/bold.svg
            button(class='btn icon')
                include ../public/assets/icons/italic.svg
            button(class='btn icon')
                include ../public/assets/icons/dots.svg
    .flex-wrapper.flex-end
        button(class='btn save') Save