* {
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 10px;
    --primary: #52B788;
    --grey: #fffffa;
    --white: #ffffff;
    --sides-padding: 20px;
    --box-shadow: 0 10px 30px -10px hsla(0, 0%, 0%, 0.1);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--grey);
}

.header {
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: var(--sides-padding);
    background-color: var(--white);
    color: var(--primary);
    box-shadow: var(--box-shadow);
}

.logo { 
    margin: 0;
    font-size: 2.5rem;
    line-height: 10vh;
}

.sidebar {
    width: 100vw;
    height: 10vh;
    display: flex;
    margin-top: 10vh;
    padding: 10px var(--sides-padding);
    background-color: var(--primary);
}

.btn {
    padding: 0;
    border: none;
    font-size: 1.6rem;
    background-color: transparent;
    color: var(--white);
    transition: transform .2s;
    cursor: pointer;
}

.btn:hover { 
    transform: scale(1.05);
}

.flex-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tools {
    margin-left: 20px;
    display: flex;
}

.tool {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: 5px;
    background-color: var(--white);
    color: black;
} 

.tool:hover {
    color: var(--primary);
}

.flex-end {
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.btn--primary,
.btn--secondary {
    padding: 10px var(--sides-padding);
    border-radius: 20px;
        background-color: var(--primary);
        color: var(--white);
}

.editor-wrapper {
    height: 80vh;
    width: 100vw;
    padding: 20px 10px 60px;
}

.editor {
    width: 100%;
    height: 100%;
    padding: var(--sides-padding);
    border: 1px solid var(--primary);
    font-size: 1.6rem;
    box-shadow: var(--box-shadow);
    outline-color: var(--primary);
    overflow-x: hidden;
    resize: none;
}

.modal-wrapper {
    width: 90vw;
    height: 40vh;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    border: 1px solid var(--primary);
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    transform: scale(0) translate(-50%, -50%);
    transition: transform .4s;
}

.modal-wrapper.open {
    transform: scale(1) translate(-50%, -50%);
}

.save-modal, .open-modal {
    display: none;
}

.save-modal {
    height: 100%;
    align-items: center;
}

.open-modal{ 
    width: 100%;
    height: 75%;
    justify-content: space-between;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--primary);
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input {
    border: none;
    border-bottom: 1px solid var(--primary);
    line-height: 2;
    margin-top: 10px;
}

.input:focus {
    outline: none;
    border-bottom: 2px solid var(--primary);
}

.label, .input, .list-item {
    font-size: 1.6rem;
}

.files-list {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.list-item {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    list-style: none;
}

.list-item:hover, .list-item.selected {
background-color: #f5f5f5;
}

.shadow {
    background-color: rgba(0, 0, 0, 0.2);
}

@media (orientation: landscape) {
    .logo{
        font-size: 2rem;;
    }

    .sidebar {
        height: 15vh;
    }
}

@media (min-width: 360px) {
    .btn,
    .editor,
    .label,
    .input,
    .list-item {
        font-size: 2rem;
    }  
}

@media (min-width: 768px) {
 	.btn,
 	.editor {
     	font-size: 2.5rem;
 	}

    .sidebar {
        width: 15vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        display: grid;
        grid-template-rows: 0.4fr 1fr;
        margin-top: 0;
        padding: calc(10vh + 20px) 0 30px;
    }

    .flex-wrapper { 
        flex-direction: column;
    }

   .flex-end {
       position: static;
       justify-content: flex-end;
       transform: translateX(0);
   }

   .openBtn {
       position: absolute;
       top: calc(10vh / 2);
       transform: translateY(-50%);
   }

   .openBtn:hover {
       transform: translateY(-50%) scale(1.05);
   }

   .tools {
       flex-direction: column;
       justify-content: flex-start;
       margin-left: 0;
   }

   .tool { 
       width: 50px;
   	   height: 50px;   
       margin: 0 0 10px;
	}

   .btn--secondary {
       background-color: var(--white);
       color: var(--primary);
   }

   .editor-wrapper {
       width: 85vw;
       height: 90vh;
       margin-top: 10vh;
       padding: 20px;
    }

    .modal-wrapper {
        width: 50vw;
    }

    .save-modal, .open-modal {
        flex-direction: column;
        align-items: center;
    }

    .save-modal {
        justify-content: center;
    }

    .open-modal {
        height: 100%;
    }

    .files-list {
        max-height: 100%;
    }
}

@media (min-width: 1024px) {
    .btn,
    .editor {
        font-size: 3rem;
    }

    .logo {
        font-size: 4rem;
    }

    .tool {
        width: 60px;
        height: 60px;
        margin-bottom: 15px;
    }

    .label,
    .input,
    .list-item {
        font-size: 2.5rem;
    }
}

@media (min-width: 1200px) {
    .logo {
        font-size: 3rem;
    }

    .btn,
    .editor {
        font-size: 2rem;
    }

    .sidebar { 
        width: 10vw;
    }

    .editor-wrapper {
        width: 90vw;
    }

    .modal-wrapper {
        width: 35vw;
    }
}

@media (min-width: 1600px) {
    .logo {
        font-size: 3.5rem;
    }

    .btn,
    .editor {
        font-size: 3rem;
    }

    .label,
    .input,
    .list-item {
        font-size: 2.5rem;
    }
}